:root { 
    --accent-color: #2196F3;
     --background-color: #2F303A;
     --additional-text-color: #fff;
     --main-text-color: #757575;
     --sub-text: #ffffff;
     --title-color: #212121;
     --logo-color: #000;
 }

body {
    font-family: "Roboto", sans-serif;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}
.header {
    padding-top: 24px;
    padding-bottom: 25px;
 }
 .header-container {
    display: flex;
    align-items: center;
    
}
.header-logo {
    color: var(--accent-color);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;
}
.header-list {
    display: flex;
    margin-left:93px; 
    gap: 50px;
}
.header-contacts {
    display: flex;
    margin-left: auto;
    gap: 50px;
}
.header-word {
    color: var(--logo-color);
}
.header-link {
    color: var(--title-color);
font-size: 14px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
}
.header-link:hover{
    color: var(--accent-color);
}
.header-addres {
    color: var(--main-text-color);
font-size: 14px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
}
.header-addres:hover{
    color: var(--accent-color);
}
.buttons-list {
    display: flex;
    justify-content: center;
    align-content: center;
}
.buttons-item {
   margin-left: 8px;
}
.buttons {
    padding-top: 94px;
}
.buttons-link {
    border-radius: 4px;
background: #F5F4FA;
color: #212121;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px; 
letter-spacing: 0.48px;
padding-left: 22px;
padding-right: 22px;
padding-top: 6px;
padding-bottom: 6px;
display: block;
}
.buttons-link:hover {
 background-color: var(--accent-color);
 color: var(--sub-text);
}
.box-text {
    color: var(--title-color);
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 36px; 
letter-spacing: 1.08px;
margin-left: 24px;
}
.box-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.box-item:hover {
    border: 1px solid #EEE;
background: #FFF;
box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.box-item {
    border: 1px solid #EEE;
background: #FFF;
}
.box {
    padding-bottom: 94px;
    padding-top: 56px;
}
.sub-text {
    color: var(--main-text-color);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
letter-spacing: 0.48px;
margin-left: 24px;
}
.footer-logo {
    color: var(--accent-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px; 
    margin-bottom: 20px;
}
.footer-word {
    color: var(--sub-text);
}
.footer-addres {
    color: var(--additional-text-color);
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;
margin-bottom: 9px;
}
.footer {
    background-color: var(--background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-contact {
    color: rgba(255, 255, 255, 0.60);
font-size: 14px;
font-weight: 400;
line-height: 24px; 
letter-spacing: 0.42px;
}
.footer-tel {
    margin-top: 9px;
    color: rgba(255, 255, 255, 0.60);
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;
}
