:root {
    
   --accent-color: #2196F3;
    --background-color: #2F303A;
    --additional-text-color: #fff;
    --main-text-color: #757575;
    --sub-text: #ffffff;
    --title-color: #212121;
    --logo-color: #000;
}
body {
    font-family: "Roboto", sans-serif;
}
.container {
    width: 1200px;
    padding: 0 15px;
    outline: solid red;
    margin-left: auto;
    margin-right: auto;
 }
 .header {
    padding-top: 24px;
    padding-bottom: 25px;
 }
 .header-container {
    display: flex;
    align-items: center;
    
}
.header-logo {
    color: var(--accent-color);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;
}
.header-list {
    display: flex;
    margin-left:93px; 
    gap: 50px;
}
.header-contacts {
    display: flex;
    margin-left: auto;
    gap: 50px;
}
.header-word {
    color: var(--logo-color);
}
.header-link {
    color: var(--title-color);
font-size: 14px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
}
.header-link:hover{
    color: var(--accent-color);
}
.header-addres {
    color: var(--main-text-color);
font-size: 14px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
}
.header-addres:hover{
    color: var(--accent-color);
}
 /* hero */

.hero-title {
    color: var(--additional-text-color);
text-align: center;
font-size: 44px;
font-weight: 900;
line-height: 60px; 
letter-spacing: 2.64px;
text-transform: uppercase;
margin-bottom: 30px;
max-width: 696px;
margin-left: auto;
margin-right: auto;
}
.hero {
    background-color: var(--background-color);
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero-button {
    color: var(--sub-text);
text-align: center;
font-size: 16px;
font-weight: 700;
line-height: 30px; 
letter-spacing: 0.96px;
border-radius: 4px;
background: var(--accent-color);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
margin-left: auto;
margin-right: auto;
display: block;
width: 216px;
height: 50px;
border: none;
}
.information-title {
    color: var(--title-color);
font-size: 14px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
margin-bottom: 10px;
}
.information-picture {
    width: 70px;
height: 70px;
flex-shrink: 0;
margin-left: auto;
margin-right: auto;
margin-bottom: 55px;
}
.information-text {
    color: var(--main-text-color);
font-size: 14px;
font-weight: 400;
line-height: 24px; 
letter-spacing: 0.42px;
}
.information-list {
display: flex;
gap: 30px;
}
.information {
    padding-top: 94px;
    padding-bottom: 94px;
    justify-content: center;
}
.work-title {
    color: var(--title-color);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
margin-bottom: 50px;
}
.work-list {
    display: flex;
    gap: 30px;
    justify-content: center;
}
.work {
    padding-bottom: 94px;
}
.team-title {
    color: var(--title-color);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
margin-bottom: 50px;
}
.team-list {
    display: flex;
    gap: 30px;
}
.team {
    padding-bottom: 94px;
}
.team-name {
    color: var(--title-color);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.48px;
}
.team-text {
    color: var(--main-text-color);
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: normal;
letter-spacing: 0.48px;
}
.footer-logo {
    color: var(--accent-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px; 
    margin-bottom: 20px;
}
.footer-word {
    color: var(--sub-text);
}
.footer-addres {
    color: var(--additional-text-color);
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;
margin-bottom: 9px;
}
.footer {
    background-color: var(--background-color);
}
.footer-contact {
    color: rgba(255, 255, 255, 0.60);
font-size: 14px;
font-weight: 400;
line-height: 24px; 
letter-spacing: 0.42px;
}

